<main class="principal">

    @if (isLoading()) {
        <p>Cargando equipos...</p>
    }

        @if (errorMessage()) {
        <p>{{ errorMessage() }}</p>
        }

    <ul>

        @for (team of teams(); track team.id) {

        <!-- Tarjeta de equipo -->
        <article class="card">
            <!-- Imagen del escudo del equipo -->
         <img class="card-logo" [src]="team.image_path" [alt]="'Escudo de ' + team.name">

            <!-- Contenido de la tarjeta -->
            <div class="card-content">

                <h2 class="team-name">{{ team.name }}</h2>

                <!-- Primera fila -->
                <div class="meta-row">

                <span class="badge badge-green">{{ team.type | titlecase }}</span>
                <span class="badge badge-blue">{{ team.short_code }}</span>

                @if (team.founded) {
                    <span class="meta-text">Founded {{ team.founded }}</span>
                }

                @if (team.last_played_at) {
                    <span class="meta-text">
                    Last played: {{ team.last_played_at | date:'dd MMM yyyy' }}
                    </span>
                }
                </div>

                <!-- Segunda fila -->
                <div class="details-row">
                    <span>🏆</span>
                    @if (team.upcoming[0]?.league?.name) {
                        <span>({{ team.upcoming[0].league.short_code }})</span>
                        <span>{{ team.upcoming[0].league.name }}</span>
                        <img [src]="team.upcoming[0].league.image_path" class="league-logo">
                    }
                </div>

                <!-- Tercera fila -->
                <div class="details-row">
                <span>Proximos rivales: </span>
                @if (team.upcoming.length > 0) {
                    <span>{{ team.upcoming.length }}</span>
                } @else {
                    <span>No upcoming matches</span>
                }

                <span>Como local: </span>
                @if (team.upcoming.length > 0) {
                    <span>{{ team.upcoming.filter(match => match.meta?.location === 'home').length }}</span>
                } @else {
                    <span>No upcoming matches</span>
                }

                <span>Como visitante: </span>
                @if (team.upcoming.length > 0) {
                    <span>{{ team.upcoming.filter(match => match.meta?.location === 'away').length }}</span>
                } @else {
                    <span>No upcoming matches</span>
                }
                </div>

            </div>
        </article>

            @if (team.upcoming.length > 0) {
                <!-- Lista de partidos -->
                <section class="match-list">
                    <h3>Próximos partidos</h3>

                    @for (match of team.upcoming; track match.id) {
                        <article class="match">

                            <div class="match-date">
                                <p>{{ match.starting_at | date:'dd MMM yyyy, HH:mm' }}</p>
                            </div>

                            <div class="match-name">
                                <p>{{ match.name }}</p>
                            </div>
                            
                            @if (match.meta?.location) {
                                <div class="match-location">
                                    <p>{{ match.meta.location === 'home' ? 'Local' : 'Visitante' }}</p>
                                </div>
                            }
                            
                            <div class="participants">
                            @for (participant of match.participants; track participant.id) {
                                <img [src]="participant.image_path"/>
                            }
                            </div>

                        </article>
                    }
                </section>
            } @else {
            <p>No hay próximos partidos disponibles.</p>
            }
        } @empty {
            @if (!isLoading() && !errorMessage()) {
        <li>No hay equipos para mostrar.</li>
        }
        }
    </ul>
    
